html, body {
    font-family: Helvetica !important;
    scroll-behavior: smooth;
}
h2 {
    font-size: 24px !important;
    font-weight: bold !important;
}
.bg-aliceblue {
    background-color: #f1f3ff;
}
.bg-button {
    background-color: #5cb85f!important;
}
.bg-primary-darkblue {
    background-color: #0d28a6;

}
.navbar {
    position: fixed;
    z-index: 99;
    width: 100%;
}
.logo-bawah {
    width: 100px;
}
.our-service-checklist{
    width: 24px;
    height: 24px;
}
.why-us-icon{
    width: 32px;
    height: 32px;
}
.testimonial-img {
    width: 80px;
    height: 80px;
}
.testimonial-rating {
    max-height: 16px;
}

.testimonial-carausel{
    max-width: 60%;
}
.testimonial-name {
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: black;
    line-height: 0px;
}
.testimonial-media {
    margin-top: 20px;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
}
.testimonial-media:hover {
  background-color: #04AA6D;
  color: white;
}
.footer-link {
    text-decoration: none;
    color: black;
    font-weight: normal;
    font-size: 14px;
}
.footer-social {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.profil {
    width: 70px !important;
    margin: 0 auto;
    margin-top: 50px;
}